/*--General: colors, resetting--*/

$primary-color: #534B4C;
$secondary-color: #2AD1AB;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*--Mixins & functions--*/

/*--Seen on nav-bar, hamburger-menu, hovering on texts and social icons throughout--*/
@mixin transition-ease {
    transition: all 0.3s ease-in-out;
}

@function set-text-color($color) {
    @if (lightness($color) > 40%) {
        @return #534B4C;
    } @else {
        @return #FAF9F8;
    }
}

/*--mixins for responsive design--*/
@mixin media-md {
    @media screen and (min-width: 768px) {
        @content;
    }
}
@mixin media-lg {
    @media screen and (min-width: 1024px) {
        @content;
    }
}
@mixin media-xl {
    @media screen and (min-width: 1600px) {
        @content;
    }
}